body {
  font-family: sans-serif;
  padding: 20px;
}

.controls {
  margin-bottom: 20px;
}

select {
  padding: 5px;
  font-size: 1rem;
}

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start; /* Valor inicial */
  height: 150px;
  border: 2px dashed #888;
  padding: 20px;
  gap: 10px;
  background: #f9f9f9;
  transition: all 0.4s ease;
}

.item {
  background: #007acc;
  color: white;
  padding: 20px;
  border-radius: 8px;
  font-size: 1.2rem;
  width: 150px;
  text-align: center;
  height: 125px;
}
